// includes all tags for paragraphs and titles such as header, p, span
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }
.par {
	p { margin-bottom: 20px; }
}
.par2 {
	p { margin-bottom: 15px; }
}
.bp-center { text-align:center; }
.bp-left { text-align:left; }
.bp-right { text-align:right; }
.bp-justify { text-align:justify; }
.bp-tt { text-transform:uppercase; }
.par-small { font-size: $fontSmall; }
.par-medium { font-size: 14px; }
.par-large { font-size: 16px; }
.par-xlarge { font-size: 18px; }
.par-xxlarge { font-size: 20px; }
.par-max { font-size: 24px; }

@include breakpoint(phablet) {
	.par-medium { font-size: 12px; }
	.par-large { font-size: 14px; }
	.par-xlarge { font-size: 16px; }
	.par-xxlarge { font-size: 18px; }
	.par-max { font-size: 20px; }	
}